html, body {
  height: 100%;
  width: 100%;
}


table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}


table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
}
th, td {
  background-color: whitesmoke;
}

tr:nth-child(even) {
  background-color: rgba(150, 212, 212, 0.4);
}

th:nth-child(even),td:nth-child(even) {
  background-color: rgba(150, 212, 212, 0.4);
}